<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title='About')}">
</head>
<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: back-button}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <main class="content about">
        <img src="/icons/R-logo.png" alt="Logo" style="margin: 40px auto">

        <h1>About this app:</h1>
        <ul>
            <li>The app has been created by students of Greenfox Academy</li>
            <li>It went from an idea to a finished product in 7 weeks</li>
            <li>We followed agile methodology with week long sprints. (daily scrum, sprint planning, backlog refinement, sprint retrospective)</li>
            <li>Technologies used:<ul>
                <li>Java Spring</li>
                <li>Javascript</li>
                <li>Thymeleaf</li>
                <li>Cockroach DB</li>
                <li>Flyway</li>
                <li>Docker</li>
                <li>Github Actions for CI/CD</li>
                <li>Google cloud storage</li>
                <li>OpenStreetMaps</li>
            </ul>
            </li>
            <li>Future plans:<ul>
                <li>Mobile and Web app in React Native</li>
            </ul>
            </li>
        </ul>
        <h1 id="things-we-are-proud-of-">Things we are proud of:</h1>
        <h2 id="comprehensive-role-management-and-security-">Comprehensive role management and security:</h2>
        <p>Each user has different permissions for every interest (creator, voter, visitor). In private interests, users
            need to request for permission to vote and add places. The creator is able to manage users in the interest
            settings.</p>
        <p>We also implemented a system for users to be able to reset their password. </p>
        <h2 id="openstreetmap-integration-">OpenStreetMap integration:</h2>
        <p>When a user is creating a new place, they can select the location in three ways:
            1) based on their current location
            2) based on the address (which is translated to coordinates using OpenStreetMaps)
            3) by placing a pin on the map</p>
        <p>When browsing places or interests, users can filter by the nearest place/interest which allows them to
            discover new places nearby. Users are also able to see all places together in a map.</p>
        <h2 id="images">Images</h2>
        <p>We store all of our images on Google Cloud. It ensures high reliability and allows us to scale our storage up
            as much as we need. </p>
        <p>We compress our images down to save on the storage cost and to decrease the overall size of our website -
            thus decreasing the loading time.</p>
        <h2 id="database">Database</h2>
        <p>We use CockroachDB as it offers high reliability and automatically creates a backup of our data every
            hour.</p>
        <p>For local development, we use docker to run CockroachDB locally.</p>
        <p>For smooth deployment to production, we version our database using Flyway. </p>
        <h2 id="email">Email</h2>
        <p>We used a third-party email service to send notifications of invitations to a new interest and password
            resets. </p>
        <h2 id="development">Development</h2>
        <p>We worked hard to keep the code quality high. We wrote unit and integration tests, followed Google code style
            and used Github actions. This, together with requiring review from three other team members before merging,
            ensured we only merged high-quality code. </p>
        <p>We also frequently went back and refactored our old code.</p>
        <h1>Developers:</h1>

    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>
</html>